*{
    margin: 0 ;
    padding: 0;
}
.header{
width:100% ;
height: 135px;
background-color:#0069aa ;
.header-1{
    height: 33px;
    width: 100%;
    border: 1px solid #004b8d;
    text-shadow: 1px gray;
//二级导航
.dis{
    height: 30px;
    width:400px ;
     float: right;
     margin-right: 10px;
     li{
         list-style: none;
         text-align: center;
         z-index: 1;
        background-color: white;
       
     }
     .fa4{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        line-height: 30px;
        background-color:#0069aa ;
        color: #a5c7db;
        font-size: 13px;
        position: relative;
        .dis-5{
            height: 90px;
            width: 80px;
            // background-color: wheat;
            display: none;
            color:#a5c7db;
            color: #333;
        }
     }
     .fa3{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        background-color:#0069aa ;
        color: #a5c7db;
        font-size: 13px;
        position: relative;
        .dis-4{
            height: 90px;
            width: 80px;
            // background-color: wheat;
            display: none;
            color: #000;
            
        }
     }
     .fa2{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        background-color:#0069aa ;
        color: #a5c7db;
        font-size: 13px;
        position: relative;
        .dis-3{
            height: 90px;
            width: 80px;
            // background-color: wheat;
            display: none;
            color: #333;
        }
     }
     .fa1{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        line-height: 30px;
        background-color:#0069aa ;
        color: #a5c7db;
        font-size: 13px;
        position: relative;
        .dis-2{
            height: 90px;
            width: 80px;
            // background-color: wheat;
            display: none;
            color: #333;
        }
     }
     .fa2{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        line-height: 30px;
        position: relative;
     }
     .fa3{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        line-height: 30px;
        // color: #fff;
     }
    .fa{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        line-height: 30px;
        background-color:#0069aa ;
        color: #a5c7db;
        font-size: 13px;
        z-index: 99;
        position: relative;
        .dis-1{
            height: 90px;
            width: 80px;
            background-color: white;
            display: none;
            color: #333;

        }
   }


}

.dis>.fa:hover .dis-1{
    display: block;
}
.dis>.fa1:hover .dis-2{
    display: block;
}
.dis>.fa2:hover .dis-3{
    display: block;
}
.dis>.fa3:hover .dis-4{
    display: block;
}
.dis>.fa4:hover .dis-5{
    display: block;
}



} 



.title{
    float: left;
    font-size: 12px;
    color: #a5c7db;
    line-height: 33px;
    margin-left: 10px;
}
.title-2{
    font-size: 12px;
    color: white;
    line-height: 33px;
}
.line{
    color: #a5c7db;
    padding: 0 4px;
}
.title-3{
    font-size: 12px;
    color: white;
    line-height: 33px;
    }
    .pic{
        height: 100px;
        width:100%;
        
        // background-color: red;
       .crt svg{
           
            position: relative;
            top: 25px;
            left: 1136px;
          
        }
    }
    .sm{
        height:100px ;
        width:240px ;
        // background-color: royalblue;
        float: left;
        img{
            height: 100px;
            width:233px ; 
        }
        }

        .address{
            height:100px ;
            width: 190px;
            float: left;
            margin-left: 20px;
            // background-color: salmon;
            svg{
                position: relative;
                top: 40px;
                left: 0;
            }
        }
        .sz{
            font-size: 10px;
            color: #a5c7db;
            margin-left: 20px;
            margin-top: 18px;
            white-space:nowrap;
            overflow:hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            }

            .xgdz{
                float: left;
                border: 1px solid #a5c7db;
                color:  #a5c7db;
                font-size: 12px;
                margin-top: 40px;
                background-color: #1a78b3;
                cursor: pointer;
            }


            .box{
                height: 34px;
                width:300px ;
                float: right;
                margin-top: 35px;
                margin-right: 80px;
                background-color: #015c92;
                border: 1px solid #015789;
                
                input{
                    outline: none;
                    height:30px;
                    width:230px ;
                    background-color:  #015c92;
                    border: none;
                    color: white;
                    
                }
                svg{
                    position: relative;
                    top: 7px;
                    right: -30px;
                    cursor: pointer;
                }
            }

} 

.middle{
    height: 60px;
    width: 100%;
    background-color:#004b8a;
    position: relative;
    
}

.middle ul li{
    list-style: none;
    float: left;
    padding: 0 30px;
    line-height:60px ;
    
    a{
        text-decoration: none;
        color: #333;
    }
   
}
.nac li.active{
    background-color: #fff;
}
.cartlist{
    position: absolute;
    top: 58px;
    left: 0;
    width: 200px;
    height: 410px;
    border: 1px solid #f7f7f7;
    background-color: #fff;
    z-index: 1;
    display:none;
    .item{
        display: none;
    }
}

 .xuanfu{
        height: 60px;
        width: 100%;
        background-color: #004b8d;
        position: fixed;;
        top: 0px;
        display: none;
        z-index: 99;
    }


//渲染
.xuanran{
    height:400px ;
    width: 100%;
    // background-color:firebrick;
   
    .shopping{
        height:400px;
        width: 1200px;
        // background-color: forestgreen;
       margin-left: 160px;
        .nav-1{
            height: 50px;
            width: 100%;
            background-color: ghostwhite;
            h2{
                color: #0069aa;
                font-weight: bold;
                float: left;
                line-height: 50px;
            }
            input{
                height: 15px;
                width: 15px;
                margin-top: 20px;
                margin-left: 20px;
                float: left;
            }
            em{
                float: left;
                margin-top: 17px;
                color: #666;
                font-size: 15px;
            }
        }
        .nav-2{
            height: 50px;
            width: 100%;
            background-color: #fafafa; 
            border-bottom: 1px solid #e3e3e3;
            span{
                font-size: 20px;
                font-weight: bold;
                line-height: 50px;
            }
        }
        .nav-3{
            height: 50px;
            width: 100%;
            // background-color: rosybrown; 
            line-height: 50px;
            border-bottom: 1px solid #e3e3e3;
            .sd{
                margin-left: 120px;
                color:#666 ;
                font-size: 14px;
            }
            .sd-1{
                margin-left: 120px;
                font-size: 14px;
                color:#666 ;
            }
            .sd-2{
                margin-left: 90px;
                font-size: 14px;
                color:#666 ;
            }
            .sd-3{
                margin-left: 90px;
                font-size: 14px;
                color:#666 ;
            }
            .sd-4{
                margin-left: 90px;
                font-size: 14px;
                color:#666 ;
            }
            .sd-5{
                margin-left: 120px;
                font-size: 14px;
                color:#666 ;
            }
            .allsel{
                height: 15px;
                width:15px ;
              margin-left: 10px;
            }
        }
        .nav-4{
            height: 150px;
            width: 100%;
            background-color: hotpink; 
            border-bottom: 1px solid #e3e3e3;
        }
        .nav-5{
            height: 80px;
            width: 100%;
            // background-color: darkgrey; 
            line-height: 80px;
            border-bottom: 1px solid #e3e3e3;
            .jiesuan{
                height: 80px;
                width: 100px;
                background-color: gray;
                float: left;
                font-size: 30px;
                color: #fff;
                text-align: center;
            }
            .check{
                height: 80px;
                width: 100px;
                // background-color: greenyellow;
                float: left;
                margin-left: 900px;
               
            }
            input{
                height: 15px;
                width: 15px;
                margin-left: 10px;
                float: left;
                margin-top: 31px;
            }
            em{
                margin-left: 10px;
                float: left;
            }
        }


    }
    



}


.last-1{
    height: 298.8px;
    width: 100%;
    background-color: #ebebeb;
    float: left;
    margin-top: 10px;
    .sam {
        height: 200px;
        width: 100%;
        // border: 1px solid green;
        background-color: #ebebeb;
        display: flex;
        flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    li{
       
        height: 199px;
        width: 240px;
        // border: 1px solid black;
       list-style: none;
       background-color: #ebebeb;
       
    }
    p{
                font-size: 12px;
                text-align: center;
                color: #666;
            }
           
    .sam-1 img{
                height: 120px;
                width:120px ;
                margin-left: 50px;
            }
          .nan{
            p{
              font-size: 12px;
              float: left;
            }
            p{
              height: 29px;
              width: 100%;
             background-color: #e6e6e6;
             a{
            font-size: 14px;
            line-height: 29px;
            color: black;
            text-decoration: none;
             }
           }
          } 
          

          .nan-1{
            p{
              height: 29px;
              width: 100%;
             background-color: #e6e6e6;
             a{
            font-size: 14px;
            line-height: 29px;
            color: black;
            text-decoration: none;
             }
           }
          }
           

         .nan-2{
          p{
            height: 29px;
            width: 100%;
           background-color: #e6e6e6;
           a{
          font-size: 14px;
          line-height: 29px;
          color: black;
          text-decoration: none;
           }
         }
         } 
         
         .nan-3{
          p{
            height: 29px;
            width: 100%;
           background-color: #e6e6e6;
           a{
          font-size: 14px;
          line-height: 29px;
          color: black;
          text-decoration: none;
           }
         }
         } 

         .nan-4 {
          p{
            height: 29px;
            width: 100%;
           background-color: #e6e6e6;
           a{
          font-size: 14px;
          line-height: 29px;
          color: black;
          text-decoration: none;
           }
         }
         }
        
         .nan-5 {
          p{
            height: 29px;
            width: 100%;
           background-color: #e6e6e6;
           a{
          font-size: 14px;
          line-height: 29px;
          color: black;
          text-decoration: none;
           }
         }
         }
    }
   
    .mowei{
            height: 30px;
            width: 100%;
            // background-color: rosybrown;
            margin-top: 10px;
            text-align: center;
            a{
                color: black;
                font-size: 15px;
                line-height: 30px;
                text-decoration: none;
            }
        }
        
        .gongan{
            height: 30px;
            width: 100%;
            // background-color: darkgrey;
            text-align: center;
            font-size: 15px;
            line-height: 30px;
        }

}