*{
    margin: 0 ;
    padding: 0;
}
.header{
width:100% ;
height: 135px;
background-color:#0069aa ;
.header-1{
    height: 33px;
    width: 100%;
    border: 1px solid #004b8d;
    text-shadow: 1px gray;
//二级导航
.dis{
    height: 30px;
    width:400px ;
     float: right;
     margin-right: 10px;
     li{
         list-style: none;
         text-align: center;
         z-index: 1;
        background-color: white;
       
     }
     .fa4{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        line-height: 30px;
        background-color:#0069aa ;
        color: #a5c7db;
        font-size: 13px;
        .dis-5{
            height: 90px;
            width: 80px;
            // background-color: wheat;
            display: none;
            color:#a5c7db;
            color: #333;
        }
     }
     .fa3{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        background-color:#0069aa ;
        color: #a5c7db;
        font-size: 13px;
        .dis-4{
            height: 90px;
            width: 80px;
            // background-color: wheat;
            display: none;
            
        }
     }
     .fa2{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        background-color:#0069aa ;
        color: #a5c7db;
        font-size: 13px;
        .dis-3{
            height: 90px;
            width: 80px;
            // background-color: wheat;
            display: none;
            color: #333;
        }
     }
     .fa1{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        line-height: 30px;
        background-color:#0069aa ;
        color: #a5c7db;
        font-size: 13px;
        .dis-2{
            height: 90px;
            width: 80px;
            // background-color: wheat;
            display: none;
            color: #333;
        }
     }
     .fa2{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        line-height: 30px;
     }
     .fa3{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        line-height: 30px;
     }
    .fa{
        height: 30px;
        width: 80px;
        // background-color: white;
        float: left;
        list-style: none;
        line-height: 30px;
        background-color:#0069aa ;
        color: #a5c7db;
        font-size: 13px;
        .dis-1{
            height: 90px;
            width: 80px;
            // background-color: wheat;
            display: none;
            color: #333;
        }
   }


}

.dis>.fa:hover .dis-1{
    display: block;
}
.dis>.fa1:hover .dis-2{
    display: block;
}
.dis>.fa2:hover .dis-3{
    display: block;
}
.dis>.fa3:hover .dis-4{
    display: block;
}
.dis>.fa4:hover .dis-5{
    display: block;
}



} 

.title{
    float: left;
    font-size: 12px;
    color: #a5c7db;
    line-height: 33px;
    margin-left: 10px;
}
.title-2{
    font-size: 12px;
    color: white;
    line-height: 33px;
}
.line{
    color: #a5c7db;
    padding: 0 4px;
}
.title-3{
    font-size: 12px;
    color: white;
    line-height: 33px;
    }

  
    








    .pic{
        height: 100px;
        width:100%;
        // background-color: red;
    }
    .sm{
        height:100px ;
        width:240px ;
        // background-color: royalblue;
        float: left;
        img{
            height: 100px;
            width:233px ; 
        }
        }

        .address{
            height:100px ;
            width: 190px;
            float: left;
            margin-left: 20px;
            // background-color: salmon;
            svg{
                position: relative;
                top: 40px;
                left: 0;
            }
        }
        .sz{
            font-size: 10px;
            color: #a5c7db;
            margin-left: 20px;
            margin-top: 18px;
            white-space:nowrap;
            overflow:hidden;
            text-overflow: ellipsis;
            cursor: pointer;
            }

            .xgdz{
                float: left;
                border: 1px solid #a5c7db;
                color:  #a5c7db;
                font-size: 12px;
                margin-top: 40px;
                background-color: #1a78b3;
                cursor: pointer;
            }


            .box{
                height: 34px;
                width:300px ;
                float: right;
                margin-top: 35px;
                margin-right: 80px;
                background-color: #015c92;
                border: 1px solid #015789;
                
                input{
                    outline: none;
                    height:30px;
                    width:230px ;
                    background-color:  #015c92;
                    border: none;
                    color: white;
                    
                }
                svg{
                    position: relative;
                    top: 7px;
                    right: -30px;
                    cursor: pointer;
                }
            }

} 
  
