.middle-6{
    height: 26.4px;
    width: 100%;
    // background-color: green;
    float: left;
    margin-top: 30px;
    .club{
        font-size: 18px;
        text-align: center;
        font-weight: bold;
    }
}