.middle-4{
    height: 1700.4px;
    width: 100%;
    // background-color: hotpink;
    float: left;
    margin-top:9.6px ;
    .hy{
        height: 26.4px;
        width: 100%;
        background-color: #fff;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
    }


    // 生鲜食品
    .food{
        

        li{
            flex-shrink: 0;
            list-style: none;
            height: 300px;
            width: 273px;
            border: 1px solid black;
            float: left;
            img{
                height: 226px;
                width: 100%;
            }
        }  
        
        height: 304px;
        width:100%;
        // background-color: brown; 
        margin-top: 30px;
        .food-1{
            height: 300px;
            width: 300px;
            border: 1px solid black;
            float: left;
            margin-left: 10px;
            img{
                height: 226px;
                width: 100%;
                vertical-align: top;
            }
            .nbgh{
                height: 74px;
                width: 100%;
                background-color: #f68595;
                float: left;
                // display: block;
                ul p a{
                    text-decoration: none;
                    font-size: 15px;
                   float: left;
                   margin-left: 5px;
                    padding: 8px 15px;
                    color: white;
                }
            }
        }
        .food-2 {
            height: 300px;
            width: 945px;
            

            display: flex;
                justify-content: space-between;
                align-items: center; 
                    
        }

    }


// 零食饮料
 .drink{
    li{
        flex-shrink: 0;
        list-style: none;
        height: 300px;
        width: 273px;
        border: 1px solid black;
        float: left;
        img{
                height: 226px;
                width: 100%;
               
            }
            
        } 
                height: 304px;
                width:100%;
                // background-color: brown; 
                margin-top: 30px;   
                .drink-1{
                    height: 299px;
                    width: 300px;
                    border: 1px solid black;
                    float: left;
                    margin-left: 10px;
                    img{
                        height: 226px;
                        width: 100%;
                        vertical-align: top;
                    }
                    .nbgh-1{
                        height: 74px;
                        width: 100%;
                        background-color: #f68595;
                        float: left;
                        // display: block;
                        ul p a{
                            text-decoration: none;
                            font-size: 15px;
                           float: left;
                           margin-left: 5px;
                            padding: 8px 15px;
                            color: white;
                        }
                    }
                }
                .drink-2{
                    height: 300px;
                    width: 945px;
                    // background-color: darkcyan;

                    display: flex;
                    justify-content: space-between;
                    align-items: center; 
                       
                        
                }
   
 }   
 
// 宝宝中心
.center{
    li{
        flex-shrink: 0;
        list-style: none;
        height: 300px;
        width: 273px;
        border: 1px solid black;
        float: left;
        img{
                height: 226px;
                width: 100%;
            }
        } 
                height: 304px;
                width:100%;
                // background-color: brown; 
                margin-top: 30px;   
                .center-1{
                    height: 299px;
                    width: 300px;
                    border: 1px solid black;
                    float: left;
                    margin-left: 10px;
                    
                    img{
                        height: 226px;
                        width: 100%;
                        vertical-align: top;
                    }
                    .nbgh-2{
                        height: 74px;
                        width: 100%;
                        background-color: #f68595;
                        float: left;
                        // display: block;
                        ul p a{
                            text-decoration: none;
                            font-size: 15px;
                           float: left;
                           margin-left: 5px;
                            padding: 8px 15px;
                            color: white;
                        }
                    }
                   
                }
                .center-2{
                    height: 300px;
                    width: 945px;
                    // background-color: darkcyan;

                    display: flex;
                    justify-content: space-between;
                    align-items: center; 
                       
                        
                }
   
 }   

// 清洁个护
.clear{ 
    li{
        flex-shrink: 0;
        list-style: none;
        height: 302px;
        width: 273px;
        border: 1px solid black;
        float: left;
        img{
                height: 226px;
                width: 100%;
            }
        } 
    height: 304px;
    width:100%;
    // background-color: sandybrown; 
    margin-top: 30px;  
    .clear-1{
        height: 300px;
        width: 300px;
        border: 1px solid black;
        float: left;
        margin-left: 10px;
        img{
            height: 226px;
            width: 100%;
            vertical-align: top;
        }
        .nbgh-3{
            height: 74px;
            width: 100%;
            background-color: #f68595;
            float: left;
            // display: block;
            ul p a{
                text-decoration: none;
                font-size: 15px;
               float: left;
               margin-left: 5px;
                padding: 8px 15px;
                color: white;
            }
        }
        
    }
    .clear-2{
        height: 302px;
        width: 822px;
        // background-color: darkcyan;
        float: left;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
}

 //数码家电
 .ele{ 
    li{
        flex-shrink: 0;
        list-style: none;
        height: 302px;
        width: 273px;
        border: 1px solid black;
        float: left;
        img{
                height: 226px;
                width: 100%;
            }
        } 
    height: 304px;
    width:100%;
    // background-color: sandybrown; 
    margin-top: 30px;  
    .ele-1{
        height: 300px;
        width: 300px;
        border: 1px solid black;
        float: left;
        margin-left: 10px;
        img{
            height: 226px;
            width: 100%;
        }
        .nbgh-4{
            height: 74px;
            width: 100%;
            background-color: #f68595;
            float: left;
            // display: block;
            ul p a{
                text-decoration: none;
                font-size: 15px;
               float: left;
               margin-left: 5px;
                padding: 8px 15px;
                color: white;
            }
        }
    }
    .ele-2{
        height: 302px;
        width: 822px;
        // background-color: darkcyan;
        float: left;
        display: flex;
        justify-content: space-between;
        align-items: center; 
    }
}}