.middle{
    height: 40px;
    width: 100%;
    background-color: #004b8d;
    float: left;
}
.middle ul{
    line-height: 40px;
}
.middle ul li{
    list-style: none ;
    float: left;
    padding: 0 25px;
    font-size: 14px;
    color: white;
    cursor: pointer;
    
}