.middle-3{
    height: 26.4px;
    width: 100%;
    // background-color: red;
    float: left;
    margin-top: 9.6px;
    h2{
        font-size:18px ;
        font-weight: bold;
        text-align: center;
    }
}