* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 135px;
  background-color: #0069aa;
}

.header .header-1 {
  height: 33px;
  width: 100%;
  border: 1px solid #004b8d;
  text-shadow: 1px gray;
}

.header .header-1 .dis {
  height: 30px;
  width: 400px;
  float: right;
  margin-right: 10px;
}

.header .header-1 .dis li {
  list-style: none;
  text-align: center;
  z-index: 1;
  background-color: white;
}

.header .header-1 .dis .fa4 {
  height: 30px;
  width: 80px;
  float: left;
  list-style: none;
  line-height: 30px;
  background-color: #0069aa;
  color: #a5c7db;
  font-size: 13px;
}

.header .header-1 .dis .fa4 .dis-5 {
  height: 90px;
  width: 80px;
  display: none;
  color: #a5c7db;
  color: #333;
}

.header .header-1 .dis .fa3 {
  height: 30px;
  width: 80px;
  float: left;
  list-style: none;
  background-color: #0069aa;
  color: #a5c7db;
  font-size: 13px;
}

.header .header-1 .dis .fa3 .dis-4 {
  height: 90px;
  width: 80px;
  display: none;
}

.header .header-1 .dis .fa2 {
  height: 30px;
  width: 80px;
  float: left;
  list-style: none;
  background-color: #0069aa;
  color: #a5c7db;
  font-size: 13px;
}

.header .header-1 .dis .fa2 .dis-3 {
  height: 90px;
  width: 80px;
  display: none;
  color: #333;
}

.header .header-1 .dis .fa1 {
  height: 30px;
  width: 80px;
  float: left;
  list-style: none;
  line-height: 30px;
  background-color: #0069aa;
  color: #a5c7db;
  font-size: 13px;
}

.header .header-1 .dis .fa1 .dis-2 {
  height: 90px;
  width: 80px;
  display: none;
  color: #333;
}

.header .header-1 .dis .fa2 {
  height: 30px;
  width: 80px;
  float: left;
  list-style: none;
  line-height: 30px;
}

.header .header-1 .dis .fa3 {
  height: 30px;
  width: 80px;
  float: left;
  list-style: none;
  line-height: 30px;
}

.header .header-1 .dis .fa {
  height: 30px;
  width: 80px;
  float: left;
  list-style: none;
  line-height: 30px;
  background-color: #0069aa;
  color: #a5c7db;
  font-size: 13px;
}

.header .header-1 .dis .fa .dis-1 {
  height: 90px;
  width: 80px;
  display: none;
  color: #333;
}

.header .header-1 .dis > .fa:hover .dis-1 {
  display: block;
}

.header .header-1 .dis > .fa1:hover .dis-2 {
  display: block;
}

.header .header-1 .dis > .fa2:hover .dis-3 {
  display: block;
}

.header .header-1 .dis > .fa3:hover .dis-4 {
  display: block;
}

.header .header-1 .dis > .fa4:hover .dis-5 {
  display: block;
}

.header .title {
  float: left;
  font-size: 12px;
  color: #a5c7db;
  line-height: 33px;
  margin-left: 10px;
}

.header .title-2 {
  font-size: 12px;
  color: white;
  line-height: 33px;
}

.header .line {
  color: #a5c7db;
  padding: 0 4px;
}

.header .title-3 {
  font-size: 12px;
  color: white;
  line-height: 33px;
}

.header .pic {
  height: 100px;
  width: 100%;
}

.header .sm {
  height: 100px;
  width: 240px;
  float: left;
}

.header .sm img {
  height: 100px;
  width: 233px;
}

.header .address {
  height: 100px;
  width: 190px;
  float: left;
  margin-left: 20px;
}

.header .address svg {
  position: relative;
  top: 40px;
  left: 0;
}

.header .sz {
  font-size: 10px;
  color: #a5c7db;
  margin-left: 20px;
  margin-top: 18px;
  white-space: nowrap;
  overflow: hidden;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  cursor: pointer;
}

.header .xgdz {
  float: left;
  border: 1px solid #a5c7db;
  color: #a5c7db;
  font-size: 12px;
  margin-top: 40px;
  background-color: #1a78b3;
  cursor: pointer;
}

.header .box {
  height: 34px;
  width: 300px;
  float: right;
  margin-top: 35px;
  margin-right: 80px;
  background-color: #015c92;
  border: 1px solid #015789;
}

.header .box input {
  outline: none;
  height: 30px;
  width: 230px;
  background-color: #015c92;
  border: none;
  color: white;
}

.header .box svg {
  position: relative;
  top: 7px;
  right: -30px;
  cursor: pointer;
}

.middle {
  height: 60px;
  width: 100%;
  background-color: #004b8a;
  position: relative;
}

.middle ul li {
  list-style: none;
  float: left;
  padding: 0 30px;
  line-height: 60px;
}

.middle ul li a {
  text-decoration: none;
  color: #333;
}

.nac li.active {
  background-color: #fff;
}

.cartlist {
  position: absolute;
  top: 58px;
  left: 0;
  width: 200px;
  height: 410px;
  border: 1px solid #f7f7f7;
  background-color: #fff;
  z-index: 1;
  display: none;
}

.cartlist .item {
  display: none;
}

.xuanfu {
  height: 60px;
  width: 100%;
  background-color: #004b8d;
  position: fixed;
  top: 0px;
  display: none;
}

.middle-2 {
  height: 400px;
  width: 100%;
  background-color: orchid;
  float: left;
  position: relative;
}

.middle-2 #mid-1 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.middle-2 #mid-2 {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.middle-2 .sub {
  height: 34px;
  width: 119px;
  position: absolute;
  top: 350px;
  left: 700px;
  opacity: 0.8;
  background-color: #004b8d;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  border: none;
}

.middle-2 .sup {
  height: 34px;
  width: 119px;
  position: absolute;
  top: 350px;
  left: 850px;
  opacity: 0.8;
  background-color: #fff;
  line-height: 34px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
  outline: none;
  border: none;
}

.middle-3 {
  height: 26.4px;
  width: 100%;
  float: left;
  margin-top: 9.6px;
}

.middle-3 h2 {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.middle-4 {
  height: 1700.4px;
  width: 100%;
  float: left;
  margin-top: 9.6px;
}

.middle-4 .hy {
  height: 26.4px;
  width: 100%;
  background-color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.middle-4 .food {
  height: 304px;
  width: 100%;
  margin-top: 30px;
}

.middle-4 .food li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
  height: 300px;
  width: 273px;
  border: 1px solid black;
  float: left;
}

.middle-4 .food li img {
  height: 226px;
  width: 100%;
}

.middle-4 .food .food-1 {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  float: left;
  margin-left: 10px;
}

.middle-4 .food .food-1 img {
  height: 226px;
  width: 100%;
  vertical-align: top;
}

.middle-4 .food .food-1 .nbgh {
  height: 74px;
  width: 100%;
  background-color: #f68595;
  float: left;
}

.middle-4 .food .food-1 .nbgh ul p a {
  text-decoration: none;
  font-size: 15px;
  float: left;
  margin-left: 5px;
  padding: 8px 15px;
  color: white;
}

.middle-4 .food .food-2 {
  height: 300px;
  width: 945px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-4 .drink {
  height: 304px;
  width: 100%;
  margin-top: 30px;
}

.middle-4 .drink li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
  height: 300px;
  width: 273px;
  border: 1px solid black;
  float: left;
}

.middle-4 .drink li img {
  height: 226px;
  width: 100%;
}

.middle-4 .drink .drink-1 {
  height: 299px;
  width: 300px;
  border: 1px solid black;
  float: left;
  margin-left: 10px;
}

.middle-4 .drink .drink-1 img {
  height: 226px;
  width: 100%;
  vertical-align: top;
}

.middle-4 .drink .drink-1 .nbgh-1 {
  height: 74px;
  width: 100%;
  background-color: #f68595;
  float: left;
}

.middle-4 .drink .drink-1 .nbgh-1 ul p a {
  text-decoration: none;
  font-size: 15px;
  float: left;
  margin-left: 5px;
  padding: 8px 15px;
  color: white;
}

.middle-4 .drink .drink-2 {
  height: 300px;
  width: 945px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-4 .center {
  height: 304px;
  width: 100%;
  margin-top: 30px;
}

.middle-4 .center li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
  height: 300px;
  width: 273px;
  border: 1px solid black;
  float: left;
}

.middle-4 .center li img {
  height: 226px;
  width: 100%;
}

.middle-4 .center .center-1 {
  height: 299px;
  width: 300px;
  border: 1px solid black;
  float: left;
  margin-left: 10px;
}

.middle-4 .center .center-1 img {
  height: 226px;
  width: 100%;
  vertical-align: top;
}

.middle-4 .center .center-1 .nbgh-2 {
  height: 74px;
  width: 100%;
  background-color: #f68595;
  float: left;
}

.middle-4 .center .center-1 .nbgh-2 ul p a {
  text-decoration: none;
  font-size: 15px;
  float: left;
  margin-left: 5px;
  padding: 8px 15px;
  color: white;
}

.middle-4 .center .center-2 {
  height: 300px;
  width: 945px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-4 .clear {
  height: 304px;
  width: 100%;
  margin-top: 30px;
}

.middle-4 .clear li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
  height: 302px;
  width: 273px;
  border: 1px solid black;
  float: left;
}

.middle-4 .clear li img {
  height: 226px;
  width: 100%;
}

.middle-4 .clear .clear-1 {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  float: left;
  margin-left: 10px;
}

.middle-4 .clear .clear-1 img {
  height: 226px;
  width: 100%;
  vertical-align: top;
}

.middle-4 .clear .clear-1 .nbgh-3 {
  height: 74px;
  width: 100%;
  background-color: #f68595;
  float: left;
}

.middle-4 .clear .clear-1 .nbgh-3 ul p a {
  text-decoration: none;
  font-size: 15px;
  float: left;
  margin-left: 5px;
  padding: 8px 15px;
  color: white;
}

.middle-4 .clear .clear-2 {
  height: 302px;
  width: 822px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-4 .ele {
  height: 304px;
  width: 100%;
  margin-top: 30px;
}

.middle-4 .ele li {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  list-style: none;
  height: 302px;
  width: 273px;
  border: 1px solid black;
  float: left;
}

.middle-4 .ele li img {
  height: 226px;
  width: 100%;
}

.middle-4 .ele .ele-1 {
  height: 300px;
  width: 300px;
  border: 1px solid black;
  float: left;
  margin-left: 10px;
}

.middle-4 .ele .ele-1 img {
  height: 226px;
  width: 100%;
}

.middle-4 .ele .ele-1 .nbgh-4 {
  height: 74px;
  width: 100%;
  background-color: #f68595;
  float: left;
}

.middle-4 .ele .ele-1 .nbgh-4 ul p a {
  text-decoration: none;
  font-size: 15px;
  float: left;
  margin-left: 5px;
  padding: 8px 15px;
  color: white;
}

.middle-4 .ele .ele-2 {
  height: 302px;
  width: 822px;
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.middle-5 {
  height: 663.3px;
  width: 100%;
  background-color: firebrick;
  float: left;
  margin-top: 30px;
  position: relative;
}

.middle-5 img {
  height: 100%;
  width: 100%;
}

.middle-5 .menu {
  position: absolute;
  height: 535px;
  width: 1600px;
  -webkit-box-shadow: 0px 5px 0px  gainsboro;
          box-shadow: 0px 5px 0px  gainsboro;
  bottom: 0;
  right: 10px;
  background-repeat: no-repeat;
}

.middle-5 .zuotu {
  height: 100%;
  width: 530px;
  background-color: ivory;
  float: left;
}

.middle-5 .zuotu img {
  height: 100%;
  width: 100%;
  cursor: pointer;
}

.middle-5 .youtu {
  height: 115px;
  width: 1070px;
  background-color: #fff;
  float: left;
  border-bottom: 1px solid gainsboro;
}

.middle-5 .youtu h1 {
  margin-top: 20px;
  margin-left: 5px;
  margin-left: 30px;
}

.middle-5 .youtu span {
  color: #999;
  margin-left: 5px;
  margin-top: 20px;
  font-size: 30px;
  margin-left: 30px;
}

.middle-5 .youtu-1 {
  height: 420px;
  width: 1070px;
  background-color: #fff;
  float: left;
  display: block;
}

.middle-5 .youtu-1 p {
  font-size: 16px;
  font-weight: normal;
  margin-top: 20px;
  margin-left: 30px;
}

.middle-5 .youtu-1 .item {
  height: 330px;
  width: 230px;
  margin-right: 10px;
  float: right;
}

.middle-5 .youtu-1 .item a {
  height: 30px;
  width: 80px;
  font-size: 15px;
  color: #fff;
  background-color: #52b014;
  text-decoration: none;
  margin-left: 90px;
  margin-top: 30px;
  display: block;
  text-align: center;
  line-height: 30px;
}

.middle-5 .youtu-1 .item img {
  height: 150px;
  width: 100%;
}

.middle-5 .youtu-1 .item .name {
  font-size: 14px;
  color: #333;
  font-weight: bold;
  text-align: center;
}

.middle-5 .youtu-1 .item .text {
  font-size: 14px;
  text-align: center;
  color: #999;
}

.middle-6 {
  height: 26.4px;
  width: 100%;
  float: left;
  margin-top: 30px;
}

.middle-6 .club {
  font-size: 18px;
  text-align: center;
  font-weight: bold;
}

.middle-7 {
  height: 680px;
  width: 100%;
  background-color: #f8f8f8;
  float: left;
  margin-top: 30px;
}

.middle-7 .dsb {
  height: 100%;
  width: 400px;
  float: left;
}

.middle-7 .dsb .dsb-1 {
  height: 480px;
  width: 400px;
}

.middle-7 .dsb .dsb-1 img {
  height: 480px;
  width: 100%;
}

.middle-7 .dsb .dsb-2 {
  height: 180px;
  width: 400px;
  float: left;
  margin-top: 10px;
}

.middle-7 .dsb .dsb-2 .weixin {
  height: 120px;
  width: 100px;
  margin-left: 70px;
  margin-top: 50px;
}

.middle-7 .dsb .dsb-2 .weixin img {
  height: 90px;
  width: 100%;
}

.middle-7 .dsb-3 {
  height: 100%;
  width: 1000px;
  float: left;
  margin-left: 40px;
}

.middle-7 .dsb-3 .dsb-4 {
  height: 100%;
  width: 1100px;
  overflow: scroll;
}

.last-2 {
  height: 100.6px;
  width: 100%;
  float: left;
  margin-top: 10px;
}

.last-1 {
  height: 298.8px;
  width: 100%;
  background-color: #ebebeb;
  float: left;
  margin-top: 10px;
}

.last-1 .sam {
  height: 200px;
  width: 100%;
  border: 1px solid black;
  background-color: #ebebeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.last-1 .sam li {
  height: 199px;
  width: 240px;
  list-style: none;
  background-color: #ebebeb;
}

.last-1 .sam p {
  font-size: 12px;
  text-align: center;
  color: #666;
}

.last-1 .sam .sam-1 img {
  height: 120px;
  width: 120px;
  margin-left: 50px;
}

.last-1 .sam .nan p {
  font-size: 12px;
  float: left;
}

.last-1 .sam .nan p {
  height: 29px;
  width: 100%;
  background-color: #e6e6e6;
}

.last-1 .sam .nan p a {
  font-size: 14px;
  line-height: 29px;
  color: black;
  text-decoration: none;
}

.last-1 .sam .nan-1 p {
  height: 29px;
  width: 100%;
  background-color: #e6e6e6;
}

.last-1 .sam .nan-1 p a {
  font-size: 14px;
  line-height: 29px;
  color: black;
  text-decoration: none;
}

.last-1 .sam .nan-2 p {
  height: 29px;
  width: 100%;
  background-color: #e6e6e6;
}

.last-1 .sam .nan-2 p a {
  font-size: 14px;
  line-height: 29px;
  color: black;
  text-decoration: none;
}

.last-1 .sam .nan-3 p {
  height: 29px;
  width: 100%;
  background-color: #e6e6e6;
}

.last-1 .sam .nan-3 p a {
  font-size: 14px;
  line-height: 29px;
  color: black;
  text-decoration: none;
}

.last-1 .sam .nan-4 p {
  height: 29px;
  width: 100%;
  background-color: #e6e6e6;
}

.last-1 .sam .nan-4 p a {
  font-size: 14px;
  line-height: 29px;
  color: black;
  text-decoration: none;
}

.last-1 .sam .nan-5 p {
  height: 29px;
  width: 100%;
  background-color: #e6e6e6;
}

.last-1 .sam .nan-5 p a {
  font-size: 14px;
  line-height: 29px;
  color: black;
  text-decoration: none;
}

.last-1 .mowei {
  height: 30px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.last-1 .mowei a {
  color: black;
  font-size: 15px;
  line-height: 30px;
  text-decoration: none;
}

.last-1 .gongan {
  height: 30px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  line-height: 30px;
}

* {
  margin: 0;
  padding: 0;
}

.login {
  height: 260px;
  width: 100%;
  background-color: #f8f8f8;
}

.login img {
  height: 100px;
  width: 100px;
  margin-left: 720px;
  margin-top: 60px;
}

.login h2 {
  text-align: center;
  font-weight: normal;
}

.login-2 {
  height: 402px;
  width: 100%;
}

.login-2 .sty {
  font-weight: normal;
  text-align: center;
  font-size: 20px;
}

.login-2 .ele {
  height: 270px;
  width: 442px;
  margin-left: 550px;
  margin-top: 20px;
}

.login-2 .ele .kua {
  height: 38px;
  width: 442px;
  border: 1px solid #dcdcdc;
  font-size: 18px;
  outline: none;
  border-radius: 2px;
}

.login-2 .ele .kua-1 {
  height: 38px;
  width: 442px;
  margin-top: 32px;
  border-radius: 2px;
}

.login-2 .ele .kua-1 .kua-2 {
  height: 38px;
  width: 290px;
  border: 1px solid #dcdcdc;
  font-size: 18px;
  outline: none;
  float: left;
  border-radius: 2px;
}

.login-2 .ele .kua-1 .kua-3 {
  height: 38px;
  width: 142px;
  background-color: #eee;
  float: right;
  text-decoration: none;
  cursor: pointer;
  border-radius: 2px;
}

.login-2 .ele .kua-1 .kua-3 span {
  font-size: 10px;
  color: #ccc;
  text-align: center;
  margin-left: 40px;
  line-height: 38px;
}

.login-2 .ele .agree {
  height: 25px;
  width: 442px;
  margin-top: 32px;
}

.login-2 .ele .agree input {
  height: 17px;
  width: 17px;
  vertical-align: middle;
}

.login-2 .ele .agree span {
  font-size: 12px;
  cursor: pointer;
}

.login-2 .ele .denglu {
  height: 50px;
  width: 442px;
  background-color: #006aaf;
  border-radius: 2px;
}

.login-2 .ele .denglu h2 {
  text-align: center;
  line-height: 50px;
  color: #fff;
}

.login-2 .ele .weixin {
  height: 50px;
  width: 441px;
  border: 1px solid #12b401;
  border-radius: 2px;
  margin-top: 5px;
}

.login-2 .ele .weixin svg {
  margin-left: 150px;
  margin-top: 10px;
}

.login-2 .ele .weixin span {
  text-align: center;
  color: #12b401;
  font-size: 25px;
  font-family: "Microsoft YaHei";
  font-weight: bold;
}

.all {
  position: relative;
}

.registry {
  height: 260px;
  width: 100%;
  background-color: #f8f8f8;
}

.registry img {
  height: 100px;
  width: 100px;
  margin-left: 720px;
  margin-top: 60px;
}

.registry h2 {
  text-align: center;
  font-weight: normal;
  margin-left: 19px;
}

.member {
  height: 785px;
  width: 100%;
  float: left;
}

.member .card {
  height: 140px;
  width: 100%;
}

.member .card .card-1 {
  height: 132px;
  width: 196px;
  border: 1px solid #0799c9;
  margin-left: 540px;
  float: left;
  text-decoration: none;
}

.member .card .card-1 p {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: center;
  line-height: 132px;
}

.member .card .card-2 {
  height: 132px;
  width: 196px;
  border: 1px solid #0799c9;
  float: left;
  margin-left: 45px;
  text-decoration: none;
}

.member .card .card-2 p {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: center;
  line-height: 132px;
}

.user {
  height: 38px;
  width: 100%;
  float: left;
  text-align: center;
}

.user input {
  height: 38px;
  width: 442px;
  outline: none;
}

.tishi {
  height: 38px;
  width: 100%;
  float: left;
}

.tishi span {
  font-size: 15px;
  color: #aaa;
  margin-left: 550px;
  line-height: 38px;
}

.user-1 {
  height: 38px;
  width: 100%;
  float: left;
  text-align: center;
}

.user-1 input {
  height: 38px;
  width: 442px;
  outline: none;
}

.tishi-1 {
  height: 38px;
  width: 100%;
  float: left;
}

.tishi-1 span {
  font-size: 15px;
  color: #aaa;
  margin-left: 550px;
  line-height: 38px;
}

.user-2 {
  height: 38px;
  width: 100%;
  float: left;
  text-align: center;
}

.user-2 input {
  height: 38px;
  width: 442px;
  outline: none;
}

.tishi-2 {
  height: 38px;
  width: 100%;
  float: left;
}

.tishi-2 span {
  font-size: 15px;
  color: #aaa;
  margin-left: 550px;
  line-height: 38px;
}

.user-3 {
  height: 38px;
  width: 100%;
  float: left;
  text-align: center;
}

.user-3 input {
  height: 38px;
  width: 442px;
  outline: none;
}

.user-4 {
  height: 38px;
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 38px;
}

.user-4 input {
  height: 38px;
  width: 442px;
  outline: none;
}

.user-5 {
  height: 38px;
  width: 100%;
  float: left;
  text-align: center;
  margin-top: 38px;
}

.user-5 .co {
  height: 40px;
  width: 442px;
  margin-left: 540px;
}

.user-5 .co input {
  height: 38px;
  width: 300px;
  outline: none;
  float: left;
}

.user-5 .co a {
  background-color: #eee;
  height: 42px;
  width: 130px;
  float: right;
  text-decoration: none;
  line-height: 38px;
  color: #ccc;
}

.inf {
  height: 15px;
  width: 100%;
  margin-top: 38px;
  float: left;
}

.inf input {
  height: 15px;
  width: 15px;
  margin-left: 552px;
  vertical-align: middle;
}

.inf label {
  font-size: 13px;
}

.inf-2 {
  height: 15px;
  width: 100%;
  margin-top: 10px;
  float: left;
}

.inf-2 input {
  height: 15px;
  width: 15px;
  margin-left: 552px;
  vertical-align: middle;
}

.inf-2 label {
  font-size: 13px;
}

.inf-2 a {
  font-size: 13px;
  text-decoration: none;
  color: #006aaf;
}

.btn-box {
  height: 50px;
  width: 220px;
  background-color: #006aaf;
  float: left;
  margin-left: 640px;
  margin-top: 30px;
  text-align: center;
}

.btn-box a {
  line-height: 50px;
  font-size: 40px;
  text-decoration: none;
  color: #fff;
}

.own {
  height: 38px;
  width: 442px;
  outline: none;
  position: absolute;
  top: 400px;
  left: 536px;
}
